*{
	padding: 0;
	margin:0; 

}
html{
	width: 100%;
	height: 100%;
}

body{
	background-image: url("../img/back.jpg");
	position: center;
	background-size: cover;
}

@font-face{
	font-family: Lato-regular;
	src:url("../fonts/Lato-Regular.ttf");
}

@font-face{
	font-family: Lato-bold;
	src:url("../fonts/Lato-Bold.ttf");
}

.card{
	background-color: rgba(0,0,0,.7);
	margin-top: 2em;
	color:white;
	width: 90%;
	height: 575px;
}

h5{
	font-size: 2em;
}

h6{
	font-size: 1.5em;
}

#cant{
	width: 40px;
	height: 40px;
}

span.margral{
	font-size: 1.2em;
}

.margral{
	margin:10px;
}